chromadb/
crews/writer_crew/__pycache__/
instance/
website/__pycache__/
website/blueprints/auth/__pycache__/
website/blueprints/build/__pycache__/
website/blueprints/home/__pycache__/
website/blueprints/search/__pycache__/
venv/
